/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background: url('../img/common/banner.png') no-repeat;
    background-size: cover;
}
.login-wrapper {
    max-width: 500px;
    margin: 5% auto 0;
}
.login-image img {
    width: 85px;
    height: 85px;
    display: inline-block;
    vertical-align: middle;
}
.login-image {
    padding: 20px 30px 5px;
}
.login-image span {
    font-size: 22px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}
.login-form {
    display: block;
    border-top: 2px solid #21a521;
    padding: 20px 20px;
    background: #fff;
}
.login-form-item {
    display: block;
    margin-bottom: 20px;
}
.login-form-item label {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    font-size: 14px;
}
.login-form-item select,
.login-form-item input {
    width: 79%;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border-radius: 5px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
.login-form-item button {
    border-radius: 5px;
    display: inline-block;
    width: 50%;
    padding: 8px;
    border: 1px solid #21a521;
    background: #21a521;
    color: #fff;
}
.login-form-item-button {
    padding-left: 45%;
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #21a521;
    z-index: 10; }
    .header__content {
      margin: 0 auto 1px;
      padding: 10px 20px;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.23);
      font-size: 0;
     }
    .header__company-name {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
      font-size: 20px;
      color: #FFFFFF; }
    .header__company-name img {
      width: 60px;
      height: 60px;
      padding-left: 3%;
      display: inline-block;
      vertical-align: middle; }
    .header__company-name img {
      display: inline-block;
      vertical-align: middle;
    }
    .header__control {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
      text-align: right; }
    .header__logo-image {
      width: 75px; }
    .header__control-link {
      margin-right: 20px;
      color: #FFFFFF;
      font-size: 16px;
      text-decoration: none;
      padding-bottom: 2px;
      transition: 0.2s; }
      .header__control-link:hover {
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF; }
      .header__control-link:last-child {
        margin-right: 0; }
  .sidebar {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    background: rgba(9, 84, 9, 0.6);
    position: fixed;
    left: 0;
    top: 80px;
    height: 100%;
    z-index: 2; }
    .sidebar__menu {
      height: 91vh;
      overflow-y: auto; }
    .sidebar__item {
      display: inline-block;
      width: 100%;
      background: rgba(9, 84, 9, 0.6);
      font-size: 15px;
      padding: 18px 20px;
      cursor: pointer;
      color: #FFFFFF;
      transition: 0.4s;
      text-decoration: none;
      border-bottom: 1px solid #fff; }
      .sidebar__item:hover {
        background: #F0F0F0;
        color: #193654; }
    .sidebar__image {
      text-align: center;
      padding: 20px 0; }
    .sidebar__user-image {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%; }
    .sidebar__content {
      padding: 20px 0; }
    .sidebar__name {
      display: block;
      padding: 20px 0 30px;
      border-bottom: 1px dotted #FFFFFF; }
    .sidebar__icon {
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      font-size: x-large; }
    .sidebar__icon-right {
      float: right;
      padding-top: 5px; }
    .sidebar__user-name, .sidebar__position {
      display: block;
      font-size: 16px;
      color: #FFFFFF;
      text-align: center;
      padding: 3px; }
    .sidebar__position {
      font-size: 12px; }
    .sidebar__information {
      padding: 20px 0; }
    .sidebar__information-list {
      display: block;
      padding: 10px; }
    .sidebar__information-data {
      margin-right: 10px;
      font-size: 14px;
      color: #FFFFFF; }
    .sidebar__sub-list {
      display: none; }
    .sidebar__text {
      vertical-align: middle;
      position: relative }
    .sidebar__link-text {
      position: relative;
    }
    .sidebar__text small,
    .sidebar__link-text small {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      border-radius: 20px;
      display: inline-block;
      padding: 5px;
      position: absolute;
      top: 0px;
      right: -35px;
    }
  
  .sidebar__item-list .sidebar__item {
    padding-left: 40px; }
  
  .sidebar__item.sidebar__item--generate-reports {
    padding-left: 56px; }
  
  .sidebar__icon.sidebar__icon--sub {
    margin: 0;
    font-size: medium; }
  
  .sidebar__text.sidebar__text--reports {
    display: inline-block;
    width: 89%;
    vertical-align: top; }

.content {
  width: 78%;
  margin-left: 21%;
  margin-top: 100px;
}

.content-wrapper {
  border: 1px solid #fff;
  margin: 20px 0;
  background: #fff;
  box-shadow: 1px 1px 6px #fff;
  padding: 20px;
  border-radius: 5px;
  min-height: 550px;
  position: relative;
}

.content-title-dashboard {
  border: 1px solid #fff;
  margin: 20px 0;
  background: #fff;
  box-shadow: 1px 1px 6px #fff;
  padding: 20px;
  border-radius: 5px;
}
.dashboard-list-horizontal {
  font-size: 0;
}
.dashboard-list {
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  width: 31.3%;
  margin-right: 3%;
  font-size: 14px;
  background: #fff;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.dashboard-list:last-child {
  margin-right: 0;
}
.dashboard-text {
  display: block;
  padding: 10px;
  text-align: center;
  background: #275528;
  color: #fff;
}
.dashboard-icon {
  font-size: 50px;
  padding: 20px;
  color: #145313;
}
.dashboard-count {
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  width: 65%;
  text-align: center;
}
.dashboard-list-chart {
  display: inline-block;
  vertical-align: top;
  width: 66%;
  background: #fff;
  margin-right: 2.2%;
  border-radius: 10px;
}
.dashboard-list-vertical {
  width: 31%;
  vertical-align: top;
  display: inline-block;
}
.dashboard-list-vertical .dashboard-list {
  width: 100%;
  margin-right: 0;
  margin-bottom: 20px;
}
#bar-graph {
  width: 100%;
  height: 270px;
  padding: 30px;
  box-sizing: border-box;
}
.dashboard-dropout .dashboard-icon {
  color: rgb(238, 130, 238);
}
.dashboard-dropout .dashboard-text {
  background: rgb(238, 130, 238);
}

.dashboard-transferees .dashboard-icon {
  color: rgb(255, 255, 1);
}

.dashboard-transferees .dashboard-text {
  background: rgb(255, 255, 1);
  color: #333;
}

.dashboard-reviews .dashboard-icon {
  color: rgb(54, 162, 235);
}

.dashboard-reviews .dashboard-text {
  background: rgb(54, 162, 235);
}

.dashboard-teacher .dashboard-icon {
  color: rgb(0, 163, 51);
}

.dashboard-teacher .dashboard-text {
  background: rgb(0, 163, 51);
}
.dashboard-student .dashboard-icon {
  color: rgb(255, 0, 0);
}

.dashboard-student .dashboard-text {
  background: rgb(255, 0, 0);
}
.content-title {
  font-weight: bold;
}
.search-student {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  width: 99%;
}
.search-student input {
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 30%;
  vertical-align: middle;
  display: inline-block;
  text-align: left;
}
.search-student select {
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20%;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}
.search-student button {
  background: blue;
  padding: 9px;
  border: 1px solid blue;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 10%;
  vertical-align: middle;
  border-radius: 5px;
  cursor: pointer;
}
.grade-period span {
  font-size: 16px;
  display: block;
  background: #74d590;
  padding: 8px 10px;
  color: #fff;
  font-weight: bold;
}
.grade-period table {
  font-size: 0;
  width: 100%;
  border-collapse: collapse;
}
table thead {
  border-top: 1px solid #fff;
  display: block;
  width: 100%;
  font-size: 0;
}
.table-list {
  background: #74d590;
  padding: 10px 0;
}
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-list,
.table-body-list {
  box-sizing: border-box !important;
  display: inline-block;
  font-size: 14px;
  width: 16.66% !important;
  vertical-align: top;
  border: 1px solid #ddd;
  padding: 8px !important;
  text-align: center;
  height: 32px;
}
.table-row,
.table-body-row {
  display: block;
  width: 100%;
}
.grade-period {
  margin-bottom: 30px;
}
.print-button {
  display: block;
  padding: 20px;
  text-align: center;
}
.print-button button {
  background: #6060ff;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #6060ff;
  font-size: 14px;
  display: inline-block;
  width: 15%;
  padding: 10px;
}
.grades-record {
  margin-top: 50px;
}
.table-edit {
  display: inline-block;
  width: 50px;
  color: #fff;
  background: #6060ff;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
}
.table-delete {
  display: inline-block;
  width: 50px;
  color: #fff;
  background: #f83737;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 5px;
}
#admin-list .table-list,
#admin-list .table-body-list {
  border: none;
  height: initial;
  vertical-align: middle;
}

.dataTables_paginate span {
  display: inline-block;
  background: #fff;
  font-size: 14px;
}
.dataTables_paginate {
  font-size: 14px;
}
.dataTables_length {
  padding: 0 0 20px;
}
.dataTables_length select {
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
}
.form-record {
  font-size: 0;
  padding: 0 35px;
}
.form-name .form-group {
  display: inline-block;
  width: 33.3%;
  font-size: 14px;
  padding: 0 0 20px;
}
.form-name .form-group label {
  display: block;
  width: 100%;
  padding-bottom: 5px;
}
.form-name .form-group input {
  display: inline-block;
  width: 80%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 7px;
  margin-bottom: 5px;
}
.error-message {
  display: block;
  color: firebrick;
}
.form-column {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  margin-right: 2%;
  margin-bottom: 15px;
}
.form-column:nth-child(2n) {
  margin-right: 0;
}
.form-column .form-group label {
  font-size: 14px;
  display: block;
  width: 100%;
  padding-bottom: 5px;
}
.form-column .form-group input {
  display: inline-block;
  width: 93%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 7px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.error-message {
  display: block;
  font-size: 14px;
  color: firebrick;
}
.form-column select {
  display: inline-block;
  width: 93%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 7px;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.form-group label span {
  color: #f00;
  font-weight: bold;
  font-size: 18px;
}
.datepicker-days table thead{
  font-size: 14px;
  display: initial;
}
.table-condensed {
  display: inherit;
}
.flash-message {
  padding: 15px;
  border-radius: 5px;
  background: #21a521;
  color: #fff;
  margin-bottom: 25px;
}
.flash-message-error {
  padding: 15px;
  border-radius: 5px;
  background: #ff3e30;
  color: #fff;
  margin-bottom: 25px;
}
.table-input {
  width: 75%;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.table--encode td {
  padding: 3px 0 !important;
  height: 36px;
}